
<div *ngIf="businessUnit">
    <h2><span jhiTranslate="dtmsApp.businessUnit.detail.title">Business Unit</span> {{businessUnit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dtmsApp.businessUnit.code">Code</span></dt>
        <dd>
            <span>{{businessUnit.code}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.businessUnit.name">Name</span></dt>
        <dd>
            <span>{{businessUnit.name}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.businessUnit.description">Description</span></dt>
        <dd>
            <span>{{businessUnit.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'business-unit/'+ businessUnit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
