.attachment-form {
    width: 700px;
}
.btn-remove {
    cursor: pointer;
    color: #ff0000;
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn-remove:hover {
    text-shadow: 2px 2px 5px #a0a0a0;
}

span {
    word-break: break-all;
}
