<div>
    <button type="submit" *ngIf="routers.export && this.permission > 1"
            (click)="onClickWorkflow(params.value)"
            class="btn btn-default btn-sm">
        <span class="fa fa-file-text-o"></span>
        <span class="d-none d-md-inline"
              jhiTranslate="dtmsApp.projectWorkflows.home.createOrEditLabel">Create Workflow</span>
    </button>
    <a class="btn btn-default btn-sm" *ngIf="routers.export" [attr.href]="'api/project-templates/export?templateId=' + params.value"><span
        class="fa fa-cloud-download"></span>
        <span jhiTranslate="dtmsApp.projectWorkflows.home.export">
                Export Log
            </span>
    </a>
    <a class="btn btn-default btn-sm" *ngIf="routers.project_export" [attr.href]="routers.project_export + params.value" title="Xuất Excel"><span
        class="fa fa-cloud-download"></span>
        <!--<span jhiTranslate="dtmsApp.projectWorkflows.home.export">
                Export Log
            </span>-->
    </a>
    <button type="submit" *ngIf="routers.manager && this.permission > 1"
            [routerLink]="[routers.manager, params.value, params.data.name]"
            class="btn btn-success btn-sm"
            title="User management">
            <span class="fa fa-user-plus"></span>
            <!--<span class="d-none d-md-inline">User management</span>-->
    </button>
    <button *ngIf="routers.bugList && this.permission > 1" type="submit"
            [routerLink]="[routers.bugList, params.value, params.data.name]"
            class="btn btn-warning btn-sm"
            title="Bug-list management">
        <span class="fa fa-file-text"></span>
        <!--<span class="d-none d-md-inline" >Bug-list management</span>-->
    </button>
    <button type="submit" *ngIf="routers.view && this.permission > 0"
            [routerLink]="[routers.view, params.value]"
            [queryParams]="{bidding: params.data.biddingStatus ? true : false}"
            class="btn btn-info btn-sm">
        <span class="fa fa-eye"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
    </button>
    <button type="submit" *ngIf="routers.viewMember && this.permission > 0"
            [routerLink]="[routers.viewMember, params.data.userLogin]"
            class="btn btn-info btn-sm">
        <span class="fa fa-eye"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.viewMember">View Member</span>
    </button>
    <button type="submit" *ngIf="routers.editCustom && this.permission > 1"
            [routerLink]="[routers.editCustom, params.value]"
            class="btn btn-primary btn-sm">
        <span class="fa fa-pencil"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit Custom Field</span>
    </button>
    <button [disabled]="taskStatus === 'CANCEL'" *ngIf="(routers.edit && this.permission > 2)" type="submit"
            replaceUrl="true"
            [routerLink]="['/', { outlets: { popup: routers.edit + params.value + '/edit'} }]"
            queryParamsHandling="merge"
            class="btn btn-primary btn-sm">
        <span class="fa fa-pencil"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
    </button>
    <button *ngIf="routers.delivery && this.permission > 2" type="submit"
            replaceUrl="true"
            [routerLink]="['/', { outlets: { popup: routers.delivery + params.value + '/delivery'} }]"
            queryParamsHandling="merge"
            class="btn btn-success btn-sm">
        <span class="fa fa-check-circle"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.delivery">Delivery</span>
    </button>
    <button *ngIf="routers.delete && this.permission > 3" type="submit"
            replaceUrl="true"
            [routerLink]="['/', { outlets: { popup: routers.delete + params.value + '/delete'} }]"
            queryParamsHandling="merge"
            class="btn btn-danger btn-sm"
            [disabled]="isPM">
        <span class="fa fa-remove"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
    </button>
    <button *ngIf="(routers.assign) && this.permission > 2" type="submit"
            replaceUrl="true"
            [routerLink]="['/', { outlets: { popup: routers.assign + params.value + '/assign'} }]"
            queryParamsHandling="merge"
            class="btn btn-warning btn-sm">
        <span class="fa fa-paper-plane"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.assign">Assign</span>
    </button>
    <button *ngIf="routers.clone && this.permission > 2" type="submit"
            replaceUrl="true"
            [routerLink]="['/', { outlets: { popup: routers.clone + params.value + '/clone'} }]"
            queryParamsHandling="merge"
            class="btn btn-primary btn-sm">
        <span class="fa fa-pencil"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.clone">Clone</span>
    </button>

    <!--Button Clone Package and move Tasks-->
    <button *ngIf="routers.delivery && this.permission > 2" type="submit"
            replaceUrl="true"
            [routerLink]="['/', { outlets: { popup: 'packages/' + params.value + '/clone'} }]"
            queryParamsHandling="merge"
            class="btn btn-primary btn-sm">
        <span class="fa fa-fighter-jet"></span>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.move">Move</span>
    </button>
    <button type="submit" *ngIf="routers.delivery && this.permission > 2"
            [routerLink]="['../../tasksClone', params.value]"
            class="btn btn-info btn-sm">
        <span class="fa fa-exchange"></span>
        <span class="d-none d-md-inline">Clone Tasks</span>
    </button>
</div>
