
<div *ngIf="notification">
    <h2><span jhiTranslate="dtmsApp.notification.detail.title">Notification</span> {{notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dtmsApp.notification.from">From</span></dt>
        <dd>
            <span>{{notification.from}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.notification.to">To</span></dt>
        <dd>
            <span>{{notification.to}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.notification.body">Body</span></dt>
        <dd>
            <span>{{notification.body}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.notification.status">Status</span></dt>
        <dd>
            <span>{{notification.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notification/'+ notification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
