<div>
    <h2>
        <span jhiTranslate="dtmsApp.feedback.home.title">Feed Back</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtmsApp.feedback.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--<br/>
    <div class="row">
        <div class="col-sm-12 form-inline">
            <div class="input-group w-100 mt-3">
                <input type="number" class="form-control" [(ngModel)]="money" name="currentSearch" placeholder="Enter money">
                <button class="input-group-append btn btn-info" (click)="trackingTM_Campaign(money)">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="trackingTM_Cam">
            <div>
                <span>Sum issues accepted: </span>
                <span>{{trackingTM_Cam.countIssues}}</span>
            </div>
            <div>
                <span>Sum money: </span>
                <span>{{trackingTM_Cam.money}}</span>
            </div>
        </div>
    </div>
    <br/>-->
    <div class="table-responsive" *ngIf="issues">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="createBy"><span jhiTranslate="global.menu.account.main">Account</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="dtmsApp.feedback.name">Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="description"><span jhiTranslate="dtmsApp.feedback.description">Description</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span jhiTranslate="dtmsApp.feedback.status">Status</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="projectsName"><span jhiTranslate="dtmsApp.feedback.projects">Projects</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let issues of issues ;trackBy: trackId">
                <td>{{issues.createdBy}}</td>
                <td>{{issues.name}}</td>
                <td>{{issues.description}}</td>
               <!--<td jhiTranslate="{{'dtmsApp.IssueStatus.' + issues.status}}">{{issues.status}}</td>-->
                <td >
                    <div class="btn-group">
                        <select class="form-control" name="type" [(ngModel)]="issues.status" id="field_type" (change)="changeStatusIssue(issues)">
                            <option value="NA" disabled>{{'dtmsApp.IssuesStatus.NA' | translate}}</option>
                            <option value="REVIEWING">{{'dtmsApp.IssuesStatus.REVIEWING' | translate}}</option>
                            <option value="ACCEPTED">{{'dtmsApp.IssuesStatus.ACCEPTED' | translate}}</option>
                            <option value="REJECTED">{{'dtmsApp.IssuesStatus.REJECTED' | translate}}</option>
                            <option value="DUPPLICATED">{{'dtmsApp.IssuesStatus.DUPPLICATED' | translate}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div *ngIf="issues.projectsId">
                        <a [routerLink]="['../projects', issues.projectsId  ]" >{{issues.projectsName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../view-feed-back', issues.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="issues && issues.length">
        <div class="row justify-content-center">
            <jhi-item-count class="col-lg-12" [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination class="col-lg-12" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
