<div class="form-body border-dis" [formGroup]="group">
    <div class="form-group">
        <label class="col-md-3 control-label">{{field.headerName}}
            <span *ngIf="field.properties.isRequiredField" class="required"> (*) </span>
        </label>
        <div class="col-md-9">
            <label class="mt-checkbox">
                <input class="form-control " [formControlName]="field.field" type="checkbox" ng-reflect-model="true" class="ng-untouched ng-pristine"><span></span>
            </label>
            <div *ngIf="field.properties.isRequiredField">
                <div style="font-size: small; color: red" *ngIf="!isValid && isDirty" jhiTranslate="entity.validation.required">is required</div>
            </div>
        </div>
    </div>
</div>
