
<div *ngIf="dtmsMonitoring">
    <h2><span jhiTranslate="dtmsApp.dtmsMonitoring.detail.title">Dtms Monitoring</span> {{dtmsMonitoring.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dtmsApp.dtmsMonitoring.position">Position</span></dt>
        <dd>
            <span jhiTranslate="{{'dtmsApp.PositionMonitoring.' + dtmsMonitoring.position}}">{{dtmsMonitoring.position}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.dtmsMonitoring.positionId">Position Id</span></dt>
        <dd>
            <span>{{dtmsMonitoring.positionId}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.dtmsMonitoring.role">Role</span></dt>
        <dd>
            <span jhiTranslate="{{'dtmsApp.MONITORINGROLE.' + dtmsMonitoring.role}}">{{dtmsMonitoring.role}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.dtmsMonitoring.members">Members</span></dt>
        <dd>
            <span>{{dtmsMonitoring.members}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dtms-monitoring/'+ dtmsMonitoring.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
