<div>
    <h2>
        <span jhiTranslate="dtmsApp.dtmsMonitoring.home.title">Dtms Monitorings</span>
        <button class="btn btn-primary float-right jh-create-entity create-dtms-monitoring" [routerLink]="['/', { outlets: { popup: ['dtms-monitoring-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="dtmsApp.dtmsMonitoring.home.createLabel">
            Create new Dtms Monitoring
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtmsApp.dtmsMonitoring.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dtmsMonitorings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="position"><span jhiTranslate="dtmsApp.dtmsMonitoring.position">Position</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="positionId"><span jhiTranslate="dtmsApp.dtmsMonitoring.positionId">Position Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="role"><span jhiTranslate="dtmsApp.dtmsMonitoring.role">Role</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="members"><span jhiTranslate="dtmsApp.dtmsMonitoring.members">Members</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dtmsMonitoring of dtmsMonitorings ;trackBy: trackId">
                <td><a [routerLink]="['../dtms-monitoring', dtmsMonitoring.id ]">{{dtmsMonitoring.id}}</a></td>
                <td jhiTranslate="{{'dtmsApp.PositionMonitoring.' + dtmsMonitoring.position}}">{{dtmsMonitoring.position}}</td>
                <td>{{dtmsMonitoring.positionId}}</td>
                <td jhiTranslate="{{'dtmsApp.MONITORINGROLE.' + dtmsMonitoring.role}}">{{dtmsMonitoring.role}}</td>
                <td>{{dtmsMonitoring.members}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dtms-monitoring', dtmsMonitoring.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dtms-monitoring/'+ dtmsMonitoring.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dtms-monitoring/'+ dtmsMonitoring.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
