<div>
    <h2>
        <span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.home.title">TMS Custom Field Screen Values</span>
        <button *ngIf="this.permission > 1" class="btn btn-primary float-right jh-create-entity create-tms-custom-field-screen-value" [routerLink]="['/', { outlets: { popup: ['tms-custom-field-screen-value-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.home.createLabel">
            Create new TMS Custom Field Screen Value
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtmsApp.tMSCustomFieldScreenValue.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tMSCustomFieldScreenValues">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.value">Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.text">Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="purchaseOrdersId"><span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.purchaseOrders">Purchase Orders</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="packagesId"><span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.packages">Packages</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tasksId"><span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.tasks">Tasks</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tmsCustomFieldId"><span jhiTranslate="dtmsApp.tMSCustomFieldScreenValue.tmsCustomField">Tms Custom Field</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tMSCustomFieldScreenValue of tMSCustomFieldScreenValues ;trackBy: trackId">
                <td><a [routerLink]="['../tms-custom-field-screen-value', tMSCustomFieldScreenValue.id ]">{{tMSCustomFieldScreenValue.id}}</a></td>
                <td>{{tMSCustomFieldScreenValue.value}}</td>
                <td>{{tMSCustomFieldScreenValue.text}}</td>
                <td>
                    <div *ngIf="tMSCustomFieldScreenValue.purchaseOrdersId">
                        <a [routerLink]="['../purchase-orders', tMSCustomFieldScreenValue.purchaseOrdersId  ]" >{{tMSCustomFieldScreenValue.purchaseOrdersId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tMSCustomFieldScreenValue.packagesId">
                        <a [routerLink]="['../packages', tMSCustomFieldScreenValue.packagesId  ]" >{{tMSCustomFieldScreenValue.packagesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tMSCustomFieldScreenValue.tasksId">
                        <a [routerLink]="['../tasks', tMSCustomFieldScreenValue.tasksId  ]" >{{tMSCustomFieldScreenValue.tasksId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tMSCustomFieldScreenValue.tmsCustomFieldId">
                        <a [routerLink]="['../tms-custom-field', tMSCustomFieldScreenValue.tmsCustomFieldId  ]" >{{tMSCustomFieldScreenValue.tmsCustomFieldId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *ngIf="this.permission > 0" type="submit"
                                [routerLink]="['../tms-custom-field-screen-value', tMSCustomFieldScreenValue.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *ngIf="this.permission > 2" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tms-custom-field-screen-value/'+ tMSCustomFieldScreenValue.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="this.permission > 3" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tms-custom-field-screen-value/'+ tMSCustomFieldScreenValue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tMSCustomFieldScreenValues && tMSCustomFieldScreenValues.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
