<nav class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a>
                <label class="logo-default">
                    <span jhiTranslate="global.title" class="navbar-title">DTMS</span>
                    <br>
                    <!--<span class="navbar-version">{{version}}</span>-->
                </label>

            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right" [ngSwitch]="isAuthenticated()">
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-bell-o"></i>
                        <!--<span *ngIf="notificationList" class="badge badge-default">{{countNotificationUnseen()}}</span>-->
                        <span *ngIf="notificationList" class="badge badge-default">{{totalNotifyUnread}}</span>
                    </a>
                    <ul class="dropdown-menu" style="max-width: 300px">
                        <li class="filter-notify">
                            <div style="width: 35%">
                                <label class="mt-checkbox">
                                    <input id="ckb_notify_read" type="checkbox" ng-reflect-model="true" class="ng-untouched ng-pristine"
                                           [checked]="readNotify" (change)="onModeViewChange($event)"><span></span>
                                </label>
                                <label for="ckb_notify_read" style="margin-bottom: 0; cursor: pointer; padding-top: 5px">Read</label>
                            </div>
                            <div style="width: 35%">
                                <label class="mt-checkbox">
                                    <input id="ckb_notify_unread" type="checkbox" ng-reflect-model="true" class="ng-untouched ng-pristine"
                                           [checked]="unreadNotify" (change)="onModeViewChange($event)"><span></span>
                                </label>
                                <label for="ckb_notify_unread" style="margin-bottom: 0; cursor: pointer; padding-top: 5px">Unread</label>
                            </div>
                            <div class="content-btn-remove-notify">
                                <a class="act-remove-all" (click)="deleteMultiNotify()">Remove All</a>
                            </div>
                        </li>
                        <li *ngIf="!notificationList || notificationList.length === 0" class="no-notification">
                            No notification available
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroll-custom"
                                [scrollWindow]="false"
                                infinite-scroll
                                [infiniteScrollDistance]="2"
                                (scrolled)="loadPageNotify(pageNotify + 1)"
                                [infiniteScrollDisabled]="pageNotify >= linksNotify.last"
                                style="max-height: 350px;"
                                data-handle-color="#637283">
                                <li *ngFor="let notification of notificationList"
                                    [ngStyle]="{'background-color': !notification.status ? '#EDF2FA' : '#FFFFFF' }">
                                    <a style="padding: 0; border-bottom: 1px solid #DDDFE2 !important;">
                                        <i class="fa fa-trash btn-remove-notif" (click)="deleteNotif(notification);"></i>
                                        <span class="message item-notify" style="padding: 10px 20px 0px 10px" [innerHTML]="notification.body.content"
                                              (click)="redirectTask(notification)"></span>
                                        <span class="time time-format item-notify" (click)="redirectTask(notification)">{{formatDate(notification.createdDate)}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- BEGIN INBOX DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_inbox_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-envelope-open-o"></i>
                        <!--<span *ngIf="mailList" class="mail_notify_count badge badge-default">{{countMailUnseen()}}</span>-->
                        <span *ngIf="mailList" class="mail_notify_count badge badge-default">{{totalNotifyMail>99 ? '99+': totalNotifyMail}}</span>
                    </a>
                    <ul class="dropdown-menu" style="max-width: 300px">
                        <li *ngIf="!mailList || mailList.length === 0" class="li_not_mail no-notification">
                            No mail available
                        </li>
                        <li *ngIf="mailList && mailList.length > 0">
                            <ul class="mail_notify_list dropdown-menu-list scroll-custom"
                                [scrollWindow]="false"
                                infinite-scroll
                                [infiniteScrollDistance]="2"
                                (scrolled)="loadPageNotifyMail(page + 1)"
                                style="max-height: 350px;"
                                data-handle-color="#637283">
                                <li *ngFor="let mail of mailList">
                                    <a class="mail_{{mail.id}}" (click)="viewMail(mail.id)" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis">
                                        <span class="subject">
                                            <span class="from" style="color: #2f353b; font-weight: bold"> {{mail.from}} </span><br>
                                            <span class="from" [ngStyle]="{'color': !mail.status ? '#3396ea':'#bdc3c7'}"> {{mail.subject}} </span><br>
                                        </span>
                                        <span class="message" style="width: 220px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis"> {{mail.body.content}} </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li ngbDropdown  placement="bottom-right" class="dropdown dropdown-user" *ngIf="languages.length > 1">
                    <a ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-flag"></i>
                        <span jhiTranslate="global.menu.language" class="username username-hide-on-mobile">Language</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-default">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <li ngbDropdown placement="bottom-right" class="dropdown dropdown-user">
                    <a ngbDropdownToggle href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" *ngIf="getImageUrl()===''" class="img-circle" src="../../../content/images/noavatar.png" />
                        <img alt=""  *ngIf="getImageUrl()!=''" class="img-circle" src="{{getImageUrl()}}" />
                        <span class="username username-hide-on-mobile"> {{currentUserLogin.login}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul routerLinkActive="active" ngbDropdownMenu class="dropdown-menu dropdown-menu-default">
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li *ngIf="this.adminResource > 0 || this.mail > 0" routerLinkActive="active">
                            <a class="dropdown-item" routerLink="mail">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.mail">Mail</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" (click)="logout()" id="logout">
                                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" (click)="login()" id="login">
                                <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
