.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.page-header-inner{
  width: 100%;
}
.logo-default{
  color: white;
}
.navbar-nav .dropdown > a{
  display: block;
}
.logo-default .navbar-title{
  font-size: 21px;
}
.logo-default .navbar-version{
  font-size: 10px;
  color: #9C3B41;
  position: relative;
}

ul li .item-notify {
    display: list-item;
}

.btn-remove-notif {
    float: right;
    opacity: 0;
    margin-right: 8px;
    margin-top: 5px;
}

a:hover .btn-remove-notif {
    opacity: 1;
}

.time-format {
    float: unset !important;
    max-width: unset !important;
    background-color: unset !important;
    margin-bottom: 5px !important;
    margin-right: 10px !important;
}

.content-dropdown div {
    height: auto;
}

.scroll-custom {
    overflow-y: scroll;
}

.scroll-custom::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #C1C1C1;
}

.scroll-custom::-webkit-scrollbar
{
    width: 6px;
}

.no-notification {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.filter-notify {
    height: 30px;
    display: flex;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 3px 10px 5px 10px;
    border-bottom: 0.5px solid #DDDFE2;
}

.content-btn-remove-notify {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.act-remove-all {
    text-shadow: none;
    color: #337ab7 !important;
    font-weight: unset;
}

.act-remove-all:hover {
    font-weight: unset;
}
