<div class="form-body border-dis" [formGroup]="group">
    <div class="form-group">
        <!--<label class="col-md-3 control-label">{{field.headerName}}
            <span *ngIf="field.properties.isRequiredField" class="required"> (*) </span>
        </label>-->
        <label class="col-md-3 control-label" style="justify-content: flex-end; display: flex;">{{field.headerName}}
            <span *ngIf="field.properties.isRequiredField" class="required"> (*) </span>
        </label>
        <div class="col-md-9">
            <textarea matInput class="form-control" [formControlName]="field.field"></textarea>
            <!--<ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="group.get(field.field).hasError(validation.field)">{{validation.message}}</mat-error>
            </ng-container>-->
            <div *ngFor="let validate of field.validations">
                <div *ngIf="validate.name">
                    <div *ngIf="group.get(field.field).hasError(validate.name)">
                        <div style="font-size: small; color: red"
                             *ngIf="!isValid && isDirty && validate.name === 'required'"
                             jhiTranslate="entity.validation.required">
                        </div>
                        <div style="font-size: small; color: red"
                             *ngIf="!isValid && isDirty && validate.name === 'pattern'"
                             jhiTranslate="dtmsApp.messageCustomFieldValidations.message.pattern"
                             translateValues="{validator: '{{validate.message}}'}">
                        </div>
                        <div style="font-size: small; color: red"
                             *ngIf="!isValid && isDirty && validate.name === 'maxlength'"
                             jhiTranslate="dtmsApp.messageCustomFieldValidations.message.maxLength"
                             translateValues="{validator: '{{validate.message}}'}">
                        </div>
                        <div style="font-size: small; color: red"
                             *ngIf="!isValid && isDirty && validate.name === 'minlength'"
                             jhiTranslate="dtmsApp.messageCustomFieldValidations.message.minLength"
                             translateValues="{validator: '{{validate.message}}'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
