<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMailReceiverLabel" jhiTranslate="dtmsApp.mailReceiver.home.createOrEditLabel">Create or edit a Mail Receiver</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mailReceiver.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mailReceiver.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dtmsApp.mailReceiver.from" for="field_from">From</label>
            <input type="text" class="form-control" name="from" id="field_from"
                [(ngModel)]="mailReceiver.from" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dtmsApp.mailReceiver.to" for="field_to">To</label>
            <input type="text" class="form-control" name="to" id="field_to"
                [(ngModel)]="mailReceiver.to" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dtmsApp.mailReceiver.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                [(ngModel)]="mailReceiver.status" />
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dtmsApp.mailReceiver.mail" for="field_mail">Mail</label>
            <select class="form-control" id="field_mail" name="mail" [(ngModel)]="mailReceiver.mailId"  required>
                <option *ngIf="!editForm.value.mail" [ngValue]="null" selected></option>
                <option [ngValue]="mailOption.id" *ngFor="let mailOption of mail; trackBy: trackMailById">{{mailOption.subject}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.mail?.dirty && editForm.controls.mail?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.mail?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
