<div>
	<h2>
		<span jhiTranslate="dtmsApp.projectUsers.home.title">Project
			Users</span>
		<button
			*ngIf="this.permission > 1"
			class="btn btn-primary float-right jh-create-entity create-project-users"
			[routerLink]="['/', { outlets: { popup: 'project-users-add/'+ projectId + '/' + projectName } }]"
			replaceUrl="true" type="submit">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="dtmsApp.projectUsers.home.createLabel"> Create
				new Project Users </span>
		</button>
        <button
            *ngIf="this.permission > 1"
            class="btn btn-primary float-right jh-create-entity create-project-users"
            [routerLink]="['/', { outlets: { popup: 'project-users-import/'+ projectId + '/' + projectName } }]"
            replaceUrl="true" type="submit">
            <span class="fa fa-plus"></span> <span class="hidden-sm-down"> Import Project Users </span>
        </button>
        <a *ngIf="this.permission > 1"
           class="btn btn-default btn-sm"
           [attr.href]="'api/project-users/download-template'"><span
            class="fa fa-cloud-download"></span>
            <span >
                Download Template
            </span>
        </a>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'dtmsApp.projectUsers.home.search' | translate }}">
					<button class="input-group-append btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-append btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<jhi-data-collection [_gridOptions]="gridOptions" [_columnDef]="columnDefsArg" [_rowData]="rowData" [_frameworkComponents]="frameworkComponents" [permission]="permission"
                     [toolPanel]="true" [page]="page" [queryCount]="queryCount" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [project]="project" (loadPage)="loadPage($event)">
</jhi-data-collection>
