
<div *ngIf="projectUsers">
    <h2><span jhiTranslate="dtmsApp.projectUsers.detail.title">Project Users</span> {{projectUsers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dtmsApp.projectUsers.userLogin">User Login</span></dt>
        <dd>
            <span>{{projectUsers.userLogin}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.projectUsers.roleName">Role Name</span></dt>
        <dd>
            <span jhiTranslate="{{'dtmsApp.ProjectRoles.' + projectUsers.roleName}}">{{projectUsers.roleName}}</span>
        </dd>
        <dt><span jhiTranslate="dtmsApp.projectUsers.project">Project</span></dt>
        <dd>
            <div *ngIf="projectUsers.projectId">
                <a [routerLink]="['/projects', projectUsers.projectId]">{{projectUsers.projectName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project-users/'+ projectUsers.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
