<div>
    <h2>
        <span jhiTranslate="dtmsApp.projectUsers.home.title">Project Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-project-users" [routerLink]="['/', { outlets: { popup: ['project-users-add'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="dtmsApp.projectUsers.home.createLabel">
            Create new Project Users
            </span>
        </button>

        <button [routerLink]="['/', { outlets: { popup: ['project-users-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down">
            Create new Project Users old
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'dtmsApp.projectUsers.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projectUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="userLogin"><span jhiTranslate="dtmsApp.projectUsers.userLogin">User Login</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="roleName"><span jhiTranslate="dtmsApp.projectUsers.roleName">Role Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="projectName"><span jhiTranslate="dtmsApp.projectUsers.project">Project</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projectUsers of projectUsers ;trackBy: trackId">
                <!--<td><a [routerLink]="['../project-users', projectUsers.id ]">{{projectUsers.id}}</a></td>-->
                <td>{{projectUsers.userLogin}}</td>
                <td jhiTranslate="{{'dtmsApp.ProjectRoles.' + projectUsers.roleName}}">{{projectUsers.roleName}}</td>
                <td>
                    <div *ngIf="projectUsers.projectId">
                        <a [routerLink]="['../projects', projectUsers.projectId  ]" >{{projectUsers.projectName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../project-users', projectUsers.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-users/'+ projectUsers.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-users/'+ projectUsers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projectUsers && projectUsers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
