.progress-bar-import {
    height: 10px;
    border-radius: 4px !important;
    border: 1px solid #1f9fff;
    margin-top: 10px;
}

.progress-animated {
    height: 100%;
    float: left;
    background-color: #1f9fff;
}

.progress-animated:last-child {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.tiltePackages {
    margin: 1em;
}
.groupsSearch {
    margin-top: 1em;
}

.classDisableCombobox{
    background-color: #A9A9A9;
    color: white
}
