<form name="attachmentForm" #attachmentForm="ngForm" class="">
    <h2 mat-dialog-title>Attachment</h2>
    <mat-dialog-content class="mat-typography">
        <div class="attachment-form row">
            <div *ngFor="let attachment of data.model; index as index" class="col-lg-3 text-center">
                <span>{{attachment.name}}</span><span *ngIf="data.mode === 'edit'" class="fa fa-trash btn-remove" (click)="removeAttachment(attachment)"></span>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button type="button" [mat-dialog-close]="false">
            <span>Close</span>
        </button>
    </mat-dialog-actions>
</form>
